/* Hero css */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-top: 80px;
  height: auto;
  background-color: #1a1a1a;
  /* margin-top: 60px; */
}

.hero-content h1 {
  font-size: 4rem;
  font-family: "Monoton";
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 10px;
  letter-spacing: 2;
  color: #dbdbdb;
  text-wrap: balance;
  padding: 0.5rem;
}

/* .hero-content {
  margin-bottom: 20px;
} */

.hero-content p {
  font-size: 2rem;
  color: #dbdbdb;
  font-weight: 400;
  font-family: "Quicksand";
  word-wrap: balance;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #656266;
  text-decoration: none;
  border-radius: 5px;
  color: #dbdbdb;
  font-family: "Quicksand";
  font-size: 2rem;
  font-weight: 400;
}
.cta-button:hover {
  background-color: transparent;
  color: #dbdbdb;
}

.cta-button:focus {
  outline: 2px solid #323232;
  outline-offset: 2px;
}
.carousel-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.hero-carousel {
  width: 80%;
  margin-top: 20px;
  /* border: 2px solid red; */
}

.carousel-item {
  display: flex;
  justify-content: center;
}

.img-body {
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.carousel-image {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button:before {
  font-size: 24px;
  color: #656266 !important; /* Custom color for inactive dots */
}

.slick-dots li.slick-active button:before {
  font-size: 16px;
  color: #dbdbdb !important; /* Custom color for active dots */
}
